@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sandiv';
    src: url('/fonts/sandiv.otf') format('opentype');
}

.fontFamily{
    font-family: 'sandiv', sans-serif;
}

/* NAVBAR */
.Logo{box-shadow: 0 0 0 rgba(0, 0, 0, 0); @apply transition-shadow duration-200 ease-in-out}
.Logo:hover{box-shadow: 2px 2px 2px rgb(84,45,100, 0.75);}

.sandiv-button{
    text-shadow: 1px 1px 0px rgb(181,104,191);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    
    @apply
    h-16 w-48 flex justify-center items-center bg-background-pink
    border-solid border-3 border-border-pink rounded-full
    decoration-0 text-text-pink text-3xl relative cursor-pointer
    transition-shadow duration-200 ease-in-out
}

.sandiv-button:hover{box-shadow: 2px 2px 2px rgb(84,45,100, 0.75);}

.sandiv-button-shadow{
    height: 92%;
    bottom: 5.5px;
    @apply
    w-full bg-button-shadow absolute rounded-full
}

.footerBar{
    @apply
    flex flex-col text-2xl text-white gap-1
}

.Copyright{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @apply
    flex flex-col text-xs items-center
}

h4, h3, a:not([class]), a[class*="fontFamily"]{
    text-shadow: 2px 2px 2px rgb(84,45,100);
    @apply
    border-solid border-b-3 border-border-pink text-center
}

a:not([class]), a[class*="fontFamily"]{
    text-shadow: 2px 2px 2px rgb(84,45,100);
    @apply transition-shadow duration-200 ease-in-out
}

a:not([class]):hover{text-shadow: 2px 2px 2px rgb(181,104,191);}

a[class*="fontFamily"]:hover{text-shadow: 2px 2px 2px rgb(181, 104, 191);}

.barShadow{
    box-shadow: 0px 4px 12px 0px rgba(84, 45, 100, 0.6);
    gap: 5vh;
    @apply
    w-full flex justify-center items-center
    static md:sticky top-0 border-b-3 border-border-pink
}

.footerShadow{
    box-shadow: 0px -4px 12px 0px rgba(84, 45, 100, 0.6);
    @apply
    z-40
}
/* NAVBAR */

.bosluk{
    margin-left: 5vw;
    margin-right: 5vw;
    @apply my-6
}

/* ANASAYFA */
.homeBannerShadow{
    @apply
    h-homeBanner w-auto bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
}

.homeBanner{
    height: 97%;
    bottom: 13px;
    @apply
    w-full bg-button-shadow flex flex-row justify-center absolute rounded-3xl
}

.homeBannerSandiv{
    @apply
    w-full xl:w-1/4 lg:w-1/3 md:w-1/2
}

.homeBannerSandivName{
    font-size: 26pt;
    font-family: 'sandiv', sans-serif;
    text-shadow: 1.5px 1.5px 0px rgb(181,104,191);

    @apply
    text-text-pink no-underline flex justify-center mt-52 select-none
}

.homeBannerText{
    font-family: 'sandiv', sans-serif;
    text-shadow: 2.5px 2.5px 0px rgb(181,104,191);

    @apply
    w-full text-text-pink no-underline absolute flex justify-center
    border-t-3 border-border-pink rounded-3xl -bottom-3 select-none
    text-mini md:text-normal lg:text-large 
}

.homeButtonShadow{
    @apply
    w-full md:w-homeButtonShadow h-40 bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
}

.homeButton{
    height: 97%;
    bottom: 5;
    @apply
    w-full bg-button-shadow flex flex-row justify-center absolute rounded-3xl
}

/* ANASAYFA */

/* HAKKIMIZDA */
.aboutDiv-Shadow{
    @apply
    h-aboutDiv2 lg:h-aboutDiv1 2xl:h-homeBanner
    w-full xl:w-aboutDiv bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
    text-text-pink
}

.aboutDiv{
    height: 97%;
    text-shadow: 1px 1px 0px rgb(181,104,191);
    @apply
    w-full bg-button-shadow flex flex-col justify-center absolute rounded-3xl p-5
    text-2xl md:text-3xl
}

.aboutDivIMG-Shadow{
    @apply
    h-homeBanner w-homeBanner bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
}

.aboutDivIMG{
    height: 97%;
    @apply
    w-full bg-button-shadow flex flex-col justify-center absolute rounded-3xl p-5
}

.aboutMainTextDiv-Shadow{
    @apply
    h-32 w-auto bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
    mb-6
}

.aboutMainTextDiv{
    height: 97%;
    @apply
    w-full bg-button-shadow flex flex-col justify-center items-center   
    absolute rounded-3xl p-5
}

.aboutMainText{
    font-size: 48pt;
    text-shadow: 2px 2px 0px rgb(181,104,191);
    @apply
    text-text-pink absolute top-5
}
/* HAKKIMIZDA */


/* RESTORANTLAR */

.restaurantsMainTextDiv-Shadow{
    @apply
    h-32 w-auto bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
    mb-6
}

.restaurantsMainTextDiv{
    height: 97%;
    @apply
    w-full bg-button-shadow flex flex-col justify-center items-center   
    absolute rounded-3xl p-5
}

.restaurantsMainText{
    text-shadow: 2px 2px 0px rgb(181,104,191);
    @apply
    text-text-pink absolute
    text-5xl lg:text-8xl
}

/* RESTORANTLAR */

/* ÜRÜNLER */

.loading{
    height: calc(100vh - 11rem);
    font-size: 64pt;
    text-shadow: 3px 3px 0px rgb(181,104,191);
    @apply
    w-full flex justify-center items-center
    decoration-0 text-text-pink
}

.option-button{
    box-shadow: 0 0 0 rgb(0, 0, 0, 0);
    text-shadow: 1px 1px 0px rgb(181,104,191);
    @apply
    h-20 w-52 flex justify-center items-center bg-background-pink
    border-solid border-3 border-border-pink rounded-full
    decoration-0 text-text-pink text-3xl relative cursor-pointer
    transition-shadow duration-200 ease-in-out
}

.option-button:hover{box-shadow: 2px 2px 2px rgba(84, 45, 100, 0.75);}

@keyframes kendiSandivinAnimation {
    25% {box-shadow: 0px 0px 22px 0px rgba(255, 255, 255, 0.25);}
    50% {box-shadow: 0px 0px 26px 0px rgba(255, 255, 255, 0.5);}
    100% {box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);}
}

/*.kendiSandivin {animation: kendiSandivinAnimation 1s ease-in-out infinite;}*/


.sandivShadow{
    height: 97%;
    @apply
    w-full bg-button-shadow rounded-3xl
}

.sandiv{
    flex: 1 1 calc(25% - 64px);
    box-sizing: border-box;

    @apply
    h-96 flex flex-col bg-background-pink relative
    border-solid border-3 border-border-pink rounded-3xl
    select-none
}

.sandivs-div {
    height: calc(100vh - 18rem);
    @apply
    overflow-scroll overflow-x-hidden p-5
    flex flex-wrap justify-center gap-16
}

.sandivIMG{
    left: 50%;
    top: 20%;
    @apply
    flex justify-start items-center relative
}

.sandivName{
    font-size: 28pt;
    font-family: 'sandiv', sans-serif;
    text-shadow: 1px 1px 0px rgb(181,104,191);

    @apply
    text-text-pink absolute no-underline
}

.sandiv-ingredient{
    margin-left: 20px;
    top: 120px;
    @apply
    flex justify-center items-center relative
}

.bread{
    height: 90px;
    width: 200px;
    position: absolute;
    bottom: -200px;
}

.ingredient{
    height: 70px;
    width: 180px;
    position: absolute;
}

.sepetButton{
    box-shadow: 0 0 0 rgb(0, 0, 0, 0);
    text-shadow: 1px 1px 0px rgb(181,104,191);
    @apply
    h-16 w-48 flex justify-center items-center bg-background-pink
    border-solid border-3 border-border-pink rounded-full
    decoration-0 text-text-pink text-3xl relative cursor-pointer
    transition-shadow duration-200 ease-in-out
}

.sepetButton:hover{box-shadow: 2px 2px 2px rgba(84, 45, 100, 0.75);}

.ingredientScreenBack{
    @apply
    h-full w-full top-0 left-0 z-50 fixed bg-ingredient-screen
}

.ingredientScreen{
    height: 50rem;
    width: 34rem;
    transform: translate(-50%, -50%);
    @apply
    flex bg-background-pink
    border-solid border-3 border-border-pink rounded-3xl
    fixed z-50 top-1/2 left-1/2
}

.ingredientScreenShadow{
    height: 98%;
    @apply
    w-full bg-button-shadow rounded-3xl relative
}

.ingredientListMainElement{
    font-size: 28pt;
    text-shadow: 1px 1px 0px rgb(181,104,191);

    @apply
    text-text-pink border-solid border-b-3 border-border-pink text-center
}

.ingredientListElement{
    font-size: 22pt;
    text-shadow: 1px 1px 0px rgb(181,104,191);

    @apply
    text-text-pink border-solid border-b-3 border-border-pink
}
.yourSandiv-div {
    height: calc(100vh - 18rem);
    @apply
    p-5 flex flex-col lg:flex-row justify-between
}

.ingredientsShadow{
    text-shadow: 1px 1px 0px rgb(181,104,191);
    font-size: 28pt;
    @apply
    h-2/5 lg:h-full w-full lg:w-1/5 flex-col
    border-solid border-3 border-border-pink rounded-3xl
    bg-background-pink text-text-pink
}

.ingredients{
    height: 98%;
    @apply
    w-full flex flex-col p-5 pr-1
    bg-button-shadow rounded-3xl
    select-none z-20
}

.ingredientScroll{
    @apply
    h-full overflow-scroll overflow-x-hidden z-30
}

details details, details div {
    @apply ml-5
}

label{
    @apply flex items-center
}

input[type=checkbox]{
    @apply mb-2 mr-1
}

.yourSandivIngredients{
    @apply
    w-96 h-96 flex flex-col relative
}

.yourSandivIngredient{
    left: -1000px;
    animation: slide-right 0.5s ease-in-out forwards;
    @apply
    h-40 w-96 absolute
}

@keyframes slide-right {
    0% {
        left: -1000px;
    }
    100% {
        left: 0;
    }
}

/* ÜRÜNLER */
::-webkit-scrollbar {@apply w-2}
::-webkit-scrollbar-track {@apply bg-border-pink rounded-md}
::-webkit-scrollbar-thumb {@apply bg-text-pink rounded-md}